{% extends 'base.html.twig' %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block title %}Bienvenue sur Rent the Fame
{% endblock %}

{% block body %}

	<!--1er section du main-->
	<section class="Stock">
		<h2>Quand le rêve rejoint la réalité...</h2>
	</section>
	<!--2é section du main-->
	<section class="moinsConnu">
		<article>
			<!-- <div> -->
			<h3>Les moins connues</h3>
			<p>
				Vous préférez les stars en début de carrière. Faites de cette rencontre
				une expérience inoubliable aussi bien pour vous que pour elle en écrivant
				une page de sa future carrière de people.
			</p>
			
			<img src="{{ asset("uploads/celebrite/KitHarrington2.jpg") }}" alt="Kit Harrington">
			
			<!-- </div>-->
		</article>

		<article>
			<!-- <div> -->
			<h3>Les connues</h3>
			<p>
				Célébrités d'ici et d'ailleurs, mais l'embarras du choix ne vous fait pas
				peur! Découvrez notre liste de personnalités du moment et passez enfin la
				journée de vos rêves.
			</p>

			<!-- </div> -->

			<img src="{{ asset("uploads/celebrite/JuliaRobert.jpg") }}" alt="Julia Roberts">
		</article>

		<article>
			<!-- <div> -->
			<h3>Les plus connues</h3>
			<p>
				On les apprécie pour leur charisme et leur personnalité, mais aussi parce
				qu'elles font le buzz! Rencontrez cette star que vous suivez en ligne
				depuis un moment déjà.
			</p>
			<!-- </div> -->
			<img src="{{ asset("uploads/celebrite/will-smith.jpg") }}" alt="Wills smith">
		</article>
	</section>

	<h2>Galerie des Stars - les Top vente !</h2>

	<section class="diaporama">
		{% for index, celebrite in celebrites %}
			<img class="{{ index == 0 ? 'visible' : '' }}" src="{{ asset('uploads/celebrite/' ~ celebrite.image) }}" alt="{{ celebrite.nom }}"/>
		{% endfor %}
	</section>

	<!--3é section du main-->

	<section class="Nouveaute">
		<article>
			<!-- <div> -->
			<h3>Notre nouveauté</h3>
			<div class="articleBas-entete">
				<h4>{{ nouveaute.nom }}
					{{ nouveaute.prenom }}</h4>
				<h4 class="metier">{{ nouveaute.metier }}</h4>
			</div>
			<p>
				Les destinations tendances du moment et les incontournables à tester avec
				votre star. Découvrez notre sélection ici.
			</p>

			<!-- </div> -->
			<a href="{{ path ('celebrite', {id :nouveaute.id}) }}">
				<img src="{{ asset('uploads/celebrite/' ~ nouveaute.image) }}" alt="star"/>
			</a>
		</article>

		<article>
			<!-- <div> -->
			<h3>Notre Best Sellers</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem
								      consequuntur tenetur, cusantium oloremque animi nobis maxime atque
			</p>

			<!-- </div> -->
			<img src="{{ asset("images/montagne.jpg") }}" alt="star">
		</article>

		<article>
			<!-- <div> -->
			<h3>Notre coup de coeur</h3>
			<div class="articleBas-entete">
				<h4>{{ monCoupDeCoeur.nom }}
					{{ monCoupDeCoeur.prenom }}</h4>
				<h4 class="metier">{{ monCoupDeCoeur.metier }}</h4>
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem
								      consequuntur tenetur, accusantium doloremque animi nobis maxime atque
			</p>
			<!-- </div> -->
			<a href="{{ path ('celebrite', {id :monCoupDeCoeur.id}) }}">
				<img src="{{ asset('uploads/celebrite/' ~ monCoupDeCoeur.image) }}" alt="star"/>
			</a>
		</article>
	</section>

{% endblock %}
