{% extends 'admin.html.twig' %}

{% block title %}Activite index{% endblock %}

{% block body %}
<h1>Activite index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Célébrités</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for activite in activites %}
        <tr>
            <td>{{ activite.id }}</td>
            <td>{{ activite.nom }}</td>
            <td>{{ activite.description }}</td>
            <td>
                {% for celebrite in activite.celebrites %}
                {{ celebrite.nom }}
                {% endfor %}
            <td>
                <a class="btn btn-dark" href="{{ path('admin_activite_show', {'id': activite.id}) }}">Voir</a>
                <a class="btn btn-dark" href="{{ path('admin_activite_edit', {'id': activite.id}) }}">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-dark" href="{{ path('admin_activite_new') }}">Ajouter</a>
{% endblock %}