{% extends 'base.html.twig' %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('app') }}
{% endblock %}


{% block title %}
	{{celebrite.prenom}}
	{{celebrite.nom}}
{% endblock %}

{% block body %}


	<section class="celebriteDescription">
		<h1>{{celebrite.prenom}}
			{{celebrite.nom }}
		</h1>
		<article>
			<div>
				<img src="{{asset('uploads/celebrite/' ~ celebrite.image)}}" alt="{{asset(celebrite.prenom)}} {{asset(celebrite.nom)}}">
				{# chemin mis ici avec concatenation de l'appel pck juste nom image dans bdd #}
			</div>

			<div class="contenu">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis molestiae minus ut, officia provident quo, ullam repudiandae culpa maxime dolore ipsum earum voluptatum? Magnam excepturi saepe rerum voluptas vero doloribus.</p>

				<h3>Activités</h3>
				<select name="activites" id="listeActivites">
					{% for liste, activite in celebrite.activites %}
						<option value="activite">{{activite.nom}}</option>
					{% endfor %}
				</select>

				<div><button class="btn">
					<span>Louer</span>
				</button></div>

			</div>
		</article>
<!-- 
	<div id="mediasCelebrite"></div>
		<div id="scrollMedias"></div> -->
		<!-- point d'entrée  -->
	<div id="loveStar"></div> 
	</section>

{% endblock %}
