{% extends 'admin.html.twig' %}

{% block title %}Medias index{% endblock %}

{% block body %}
    <h1>Medias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for media in medias %}
            <tr>
                <td>{{ media.id }}</td>
                <td>{{ media.type }}</td>
                <td>{{ media.name }}</td>
                <td>{{ media.url }}</td>
                <td>{{ media.celebrite.nom }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('admin_medias_show', {'id': media.id}) }}">Voir</a>
                    <a class="btn btn-dark" href="{{ path('admin_medias_edit', {'id': media.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('admin_medias_new') }}">Ajouter</a>
{% endblock %}
