<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    {#css #} {# Run `composer require symfony/webpack-encore-bundle` and
    uncomment the following Encore helpers to start using Symfony UX #} {% block
    stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    {% endblock %}
  </head>
  <body>
    <header id="header-{{ app.request.get('_route') }}">
      <div class="logo">
        <img class="logoStar" src="{{ asset('images/logo-star.png') }}" alt="" />
      </div>
      <nav class="menu">
        <ul>
          <li><a href="{{ path('home') }}">Home</a></li>
          <li><a href="{{path('celebrites')}}">Célébrités</a></li>
          <li><a href="{{path('activites')}}">Activités</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
      <nav class="icones">
        <ul>
          <li>
            <a href="{{path('user_new')}}"><i class="fas fa-user"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-heart"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-cart-plus"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main-{{ app.request.get('_route') }}">
      {% block body %}{% endblock %}
    </main>

    <footer>
      <div class="inner_footer">
        <div class="social_links">
          <ul>
            <li class="social_items">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="social_items">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="social_items">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social_items">
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="quick_links">
          <ul>
            <li class="quick_items"><a href="{{ path('home') }}">Home</a></li>
            <li class="quick_items"><a href="{{path('celebrites')}}">Célébrités</a></li>
            <li class="quick_items"><a href="{{path('activites')}}">Activités</a></li>
            <li class="quick_items"><a href="#">About Us</a></li>
            <li class="quick_items"><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% block javascripts %}
    {{ encore_entry_script_tags("app") }}
    {% endblock %}
  </body>
</html>
