{% block stylesheets %}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn"><span>{{ button_label|default('S\'inscrire') }}</span></button>

{{ form_end(form) }}
